{% extends 'base.html.twig' %}

{% block title %}{{ contract.reference }}{% endblock %}

{% block body %}
<div class="card border-0 shadow-sm">
    {% include 'maintenance/contract/_details_modal.html.twig' with {contract: contract} %}
</div>
{% endblock %}
