<div class="card">
    <div class="card-header fw-semibold">Modules accessibles</div>
    <div class="card-body">
        {{ form_widget(form.modules) }}
        {{ form_errors(form.modules) }}
    </div>
</div>
